* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
}

/** fonts **/
@font-face {
    font-family: 'cute';
    src: url(Fonts/CuteFont-Regular.otf);
}

@font-face {
    font-family: 'fun';
    src: url(Fonts/PlaywriteDEGrund-VariableFont_wght.ttf);
}

/** text decorations**/
a {
    text-decoration: none;
    font-weight: bold;
}

/** navigation bar **/

nav {
    background-image: url(Images/Header.webp);
    display: flex;
    justify-content: space-between;
    padding: 0 3.125rem;
    height: 10rem;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav .right {
    display: flex;
    gap: 5px;
}

nav .right a {
    font-family: 'cute';
    color: white;
    margin: 0 0.625rem;
    font-size: 2rem;
}

/** section about-me **/

.title {
    background-color: #ae967f;
    padding-top: 12rem;
    padding-bottom: 1rem;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#general {
    background-color: #ae967f;
    padding: 2rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* Images */

#channie {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}

.image-text {
    padding-left: 20px;
    float: left;
}



/** footer **/

footer {
    background-color: #96887c;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.875rem;
}

#footer {
    font-family: 'cute';
    color: white;
    font-size: 1.5rem;
}



/** font classes for different parts of website **/

#hey-guys {
    font-family: 'cute';
    color: white;
    text-align: center;
    font-size: 3rem;
}

.header {
    font-family: 'cute';
    color: white;
}

p {
    font-family: 'fun';
    color: white;
}

/** media css for multiple devices **/

@media (max-width:600px) {

}

@media (min-width:601px) {

}

@media (min-width:768px) {

}

@media (min-width:982px) {

}

@media (min-width:1200px) {

}